.blogCardContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;

}

.blogArticle {
    width: 36rem;
}

.image {
    height: 24rem;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: var(--border-radius);
}